*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: fantasy;
    background-color: antiquewhite;
    color: brown;
}
 header{
    background-color: hotpink;
    padding: 20px;
    display: flex;
 }
 header2{
    color: #8b648b;
 }
nav a{
    color: #333;
    text-decoration: solid;
    margin-left: 20px;
}
.logo{ 
    text-align: center;
    background-color: #493724;
}
.logo h1{
    font-size: 18px;
    color:#eadfc9;
}
.logo p{
    font-size: 18px;
    color: #666;
    margin-bottom:30px;
}
.menu a:hover{
    color:cyan
}
.hero{
    background-color: darkgrey;
    padding: auto;
    text-align: center;

}